*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #131c1f;
  color: #82aaff;
  text-align: center;
}

nav {
  text-align: left;
  padding: 20px;
}

a {
  color: #82aaff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #82aaff;
}

h1 {
  margin-top: 250px;
  margin-bottom: 50px;
  text-decoration: underline;
}

h2 {
  margin-bottom: 10px;
}

.navitem {
  margin-right: 30px;
}
