<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Kevin Banfield Profile Page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kevin Banfield</title>
    <link rel="stylesheet" href="static/css/styles.css" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="static/images/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="static/images/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="static/images/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="static/images/favicon/site.webmanifest" />
  </head>
  <body>
    <header></header>
    <main>
      <h1>Kevin Banfield Personal Website</h1>
      <h2>This site is not quite ready to share with you yet.</h2>
      <h2>Please check back regularly for updates!</h2>
    </main>
    <footer></footer>
  </body>
</html>
